{% extends "layout2.html" %}
{% block title %}All Exercises{% endblock %}
{% block page %}All Exercises{% endblock %}

{% block content%}

<main>
	<section class="section">
		<div class="container">
			<h3>Muscle Group</h3>
			<div class="row">
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Abs</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ url_for('workout_views.workout_page', value='abdominals')}}" ><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Abs Workout</p>
						</div>						
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Chest</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ url_for('workout_views.workout_page', value='chest')}}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Chest Workout</p>
						</div>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Glutes</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Glutes Workout</p>
						</div>
					</div>
				</div>
			</div>
      <div class="row">
        <div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Glutes</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Glutes Workout</p>
						</div>
					</div>
				</div>
        <div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Glutes</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Glutes Workout</p>
						</div>
					</div>
				</div>
        <div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Glutes</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Glutes Workout</p>
						</div>
					</div>
				</div>
      </div>
		</div>
	</section>
	<section class="section grey lighten-4">
		<div class="container">
			<h3>Difficulty</h3>
			<div class="row">
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Beginner</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Beginner Workout</p>
						</div>						
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Intermediate</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Intermediate Workout</p>
						</div>						
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Expert</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
              <p>Description of Expert Workout</p>            
					</div>         
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<h3>Type</h3>
			<div class="row">
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Cardio</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Cardio Workout</p>
						</div>						
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Strength</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Strength Workout</p>
						</div>						
					</div>
				</div>
				<div class="col s12 m4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="https://materializecss.com/images/sample-1.jpg">
							<span class="card-title">Plyometrics</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="#"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<p>Description of Plyometrics Workout</p>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</section>
</main>


{% endblock %}