<!-- rental_history.html -->
{% extends 'layout.html' %}

{% block title %}Rental History{% endblock %}
{% block page %}Rental History{% endblock %}

{% block menu %}
    <li><a class="waves-effect"  href="/">Browse Games</a></li>
    {% if current_user.is_authenticated %}
        {% if current_user.role == 'staff' %}
        <li><a class="waves-effect"  href="/transactions">Transactions</a></li>
        {% elif current_user.role == 'customer' %}
            <li class="active"><a class="waves-effect"  href="/rentals">My Rentals</a></li>    
            <li><a class="waves-effect" href="/profile">Profile</a></li>
        {% endif %}
    {% endif %}
    <li><a class="waves-effect" href="/about">About</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h4>Rental History</h4>
            {% if rentals %}
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Game</th>
                            <th>Rental Date</th>
                            <th>Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rental in rentals %}
                            <tr>
                                <td>{{ rental.game }}</td>
                                <td>{{ rental.rental_date }}</td>
                                <td>{{ rental.return_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No rental history found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
